body {
    margin: 0px;
}
a{
    list-style: none;
    text-decoration: none;
    color: rgb(51, 51, 51);
}

ul {
    list-style: none;
    padding: 0;
}

a{
    list-style: none;
    text-decoration: none;
    color: rgb(51, 51, 51);
}
section{
    position: relative;
}
.main{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    height: 1300px;
}
.sidebar{
    /* border: 1px solid green; */
    padding-top: 80px;
    width: 300px;
    height: 1200px;
    position: relative;
    /* text-align: center; */
    
}
.sidebox{
    background-color: rgb(236, 234, 234);
    width: 180px; height: 490px;
    position:sticky;
    left: 50px; top: 200px; 
    border-radius: 30px;
    padding-top: 10px;

}
.sidemenu{
    /* background-color: lightblue; */
    margin-top: 15px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    
}
.sidemenu:hover a{
    font-size: 25px;
    color: black;
    transition: all 0.3s;
    background-color: white;
}
.sidemenu:hover .sidebox{
    color: white;
    background-color: white;
}
.course_list{
    /* border: 1px solid gray; */
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 300px;
    top: 150px;
}

.section_header{
    /* border: 1px solid gray; */
    width: 1200px;
    height: 100px;
    position: absolute;
    left: 280px;
}
.guide{
    color: lightgray;
    font-size: 25px;
}
.coursimg{
    border: 1px solid lightgray;
    height: 171px;
    width: 270px;
}
.reviewstar{
    width: 28px;
}
.course_container{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}
.blank{
    height: 50px;
}
.btnbar{
    position: relative;
}
.btn-toolbar {
    position: relative;
    bottom: 40px;
    left: 45%;
}
.coursename:hover .coursimg{
    width: 300px;
    height: 201px;
    opacity: 0.5;
    transition: all 0.3s;
}
