main{
    margin: auto;
    border: none;
   
    border: 3px solid rgb(30,144,255);
}
.topmain{
    display: flex;
    align-items: center;
    
    background-color: rgb(30,144,255);
    height: 500px;
    width: 100%;
    
}
.topmainfirst{
  
    flex-shrink: 0;
    flex-grow: 1;
}

.topmainfirst>div>img{
    display: block;
    border-radius: 30px 30px 30px 30px;
    margin: auto;
    width: 600px;
    height: 300px;

    }
.topmainsecond{
    margin: 5%;
    flex-shrink: 1;
}
.topmainfirst>div{}
.topmainsecond>ul{
    
}
.topmainsecond>ul>div{
    display: border;
    color: white;
}
.topmainsecond>ul>div:nth-child(1){
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.topmainsecond>ul>div:nth-child(2){
    font-size: 30px;
    margin-bottom: 20px;
}
.topmainsecond>ul>div:nth-child(3){
    font-size: 25px;
    margin-bottom: 20px;
}
.topmainsecond>ul>div:nth-child(4){
    font-size: 25px;
   
}
.middlemain{
    width: 100%;
}
.middlemain>ul{
    display: flex;
    justify-content: left;
    margin: 30px auto 30px auto;
}
.middlemain>ul>a{
    text-decoration: none;
    color: gray;
    font-size: 25px;
}
.middlemain>ul>a:nth-child(1){
    margin-left: 17%;
}
.middlemain>ul>a:nth-child(2){
    margin-left: 5%;
}
a.test1:hover{
    text-decoration: underline;
    color: black;
}
a.test2:hover{
    text-decoration: underline;
    color: black;
}
.bottommain{
    border-top: 3px solid gray;
    margin-bottom: 100px;
    width: 100%;
}
.bottommain>ul{
    margin: 100px auto 350px 17%;
    font-size: 20px;
    
}
.bottommain>ul>.bottommaintop{
    font-size: 25px;
    font-weight: bold;
}